.coin-name-td,
.exchange-name-td {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
}

/* including .exchange-logo makes some logos huge for some reason */
.coin-logo {
  height: 60%;
}

/*.coin-logo,*/
/*.exchange-logo {*/
/*  height: 4rem;*/
/*  width: 4rem;*/
/*  !*height: 60%;*!*/
/*}*/

.coin-name,
.exchange-name {
  font-weight: 500;
}

.coin-symbol {
  color: #b8b8b8;
}

.green {
  color: #00ff00;
}

.red {
  color: #ff0000;
}
