.main-info-outer-container {
  height: auto;
  min-width: 100rem;
  /*border: 3px solid red;*/
  border-radius: 11px;
  padding: 2.4rem;
  background: #303e58;
  grid-column: 1;
  grid-row: 1 / 2;
}

.main-info-top-section {
  display: grid;
  grid-template-columns: 1fr 13fr;
  grid-template-rows: 1.5fr 1fr;
  /*row-gap: 0.4rem;*/
  margin-bottom: 4.8rem;
}

.main-info-logo {
  grid-column: 1;
  grid-row: 1;
}

.main-info-identity-1 {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.main-info-identity-2 {
  grid-column: 2 / -1;
  grid-row: 2;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.main-info-name {
  font-size: 3rem;
  font-weight: 600;
}

.main-info-symbol {
  text-transform: uppercase;
  font-size: 1.6rem;
  background: #495e74;
  color: rgba(255, 255, 255, 0.8);
}

.main-info-rank {
  background: #6d7e90;
  font-size: 1.4rem;
  color: rgba(255, 255, 255);
}

.main-info-type {
  background: #495e74;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.8);
}

.small-box {
  font-weight: 400;
  padding: 0.8rem;
  border-radius: 6px;
}

/*############################################################################*/

/*.main-info-links {*/
/*  display: grid;*/
/*}*/

.main-info-links-section {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 2.4rem;
}

.main-info-links-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  /*height: 3.1rem;*/
}

.main-info-link-type {
  margin-right: 3.2rem;
  min-width: 11.5rem;
}

.main-info-links-list {
  display: flex;
  gap: 0.8rem;
  list-style: none;
  flex-wrap: wrap;
}

.main-info-address,
.main-info-link:link,
.main-info-link:visited {
  text-decoration: none;
  color: inherit;
  background: #495e74;
  display: flex;
  align-items: flex-end;
  gap: 0.6rem;
}

.main-info-link:hover,
.main-info-link:active {
  color: inherit;
}

.main-info-description {
  font-size: 1.4rem;
  /*letter-spacing: 0.5px;*/
  line-height: 2rem;
}

.main-info-description a:link,
.main-info-description a:visited {
  text-decoration: none;
  color: #fc9bd3;
}

.main-info-description a:hover,
.main-info-description a:active {
  color: #fa58b6;
}
