.main-info-outer-container {
  height: auto;
  /*border: 3px solid red;*/
  border-radius: 11px;
  padding: 2.4rem;
  background: #303e58;
  grid-column: 1;
  grid-row: 1 / 2;
}

.main-info-heading {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.main-info-name {
  font-size: 3rem;
  font-weight: 600;
}

.main-info-symbol {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}
