.error-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 5rem auto;
  width: 75%;
  height: auto;
}

/*############################################################################*/

.error-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

.error-heading {
  font-size: 7.4rem;
  font-weight: 700;
  color: #fa58b6;
}

.error-subheading {
  font-size: 5.2rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.error-description {
  font-size: 2.4rem;
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

/*############################################################################*/

.error-img {
  width: 50%;
  height: auto;
  z-index: -1;
}
