.cta-banner-outer-container {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  border-radius: 50%;
}

.cta-banner-heading {
  font-size: 3.6rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.5px;
}

.cta-banner-middle-container {
  position: relative;
  margin: 0 auto;
  width: fit-content;
}

.cta-banner-inner-container {
  background: rgba(17, 33, 73, 0.8);
  max-width: 130rem;
  padding: 4.8rem 12.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  border-radius: 11px;
}

.cta-banner-inner-container::before {
  content: "";
  background-image: url(../../../images/12067355_4884273.jpg);
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  filter: brightness(90%) opacity(60%);
  border-radius: 11px;
  z-index: -1;
}

.cta-banner-form {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.cta-banner-form input {
  width: 50rem;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: #000;
  border: none;
  background-color: #ded6d6;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.GetStarted-btn {
  font-family: Rubik, sans-serif;
  background-color: #fa58b6;
  font-size: 1.8rem;
  color: inherit;
  width: fit-content;
  height: fit-content;
  border-radius: 11px;
  padding: 1.2rem;
  border: 2px solid #fa58b6;
  transition: all 0.3s;
}
.GetStarted-btn:hover {
  background-color: #fb79c5;
  border: 2px solid #fb79c5;
  cursor: pointer;
}
