.cta-banner-outer-container {
  /*margin-top: 4.8rem;*/
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  border-radius: 50%;
  /*border-top: 5px solid silver;*/
}

.cta-banner-heading {
  font-size: 3.6rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.5px;
}

/*.trending-coins-subheading {*/
/*  font-size: 1.6rem;*/
/*  font-weight: 500;*/
/*  color: #fc9bd3;*/
/*  text-align: center;*/
/*  margin-bottom: 1.2rem;*/
/*  letter-spacing: 0.75px;*/
/*  text-transform: uppercase;*/
/*}*/

.cta-banner-middle-container {
  position: relative;
  margin: 0 auto;
  width: fit-content;
}

.cta-banner-inner-container {
  background: rgba(17, 33, 73, 0.8);
  /*border: 3px solid #fb79c5;*/
  max-width: 130rem;
  /*margin: 0 auto;*/
  padding: 4.8rem 12.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  /*justify-content: space-between;*/
  border-radius: 11px;
}

.cta-banner-inner-container::before {
  content: "";
  background-image: url(../IMAGES/12067355_4884273.jpg);
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  filter: brightness(90%) opacity(60%);
  border-radius: 11px;
  z-index: -1;
}

.cta-banner-form {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.cta-banner-form input {
  width: 50rem;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: #000;
  border: none;
  background-color: #ded6d6;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.GetStarted-btn {
  font-family: Rubik, sans-serif;
  background-color: #fa58b6;
  font-size: 1.8rem;
  color: inherit;
  width: fit-content;
  height: fit-content;
  border-radius: 11px;
  padding: 1.2rem;
  /*background: linear-gradient(90deg, #b84dc3, #a620b4);*/
  /*box-shadow: inset 0 0 2px #000;*/
  border: 2px solid #fa58b6;
  transition: all 0.3s;
}
.GetStarted-btn:hover {
  background-color: #fb79c5;
  border: 2px solid #fb79c5;
  cursor: pointer;
}
