.market-info-outer-container {
  height: auto;
  /*min-width: 100rem;*/
  border-radius: 11px;
  padding: 2.4rem;
  /*background: #303e58;*/
  grid-column: 1;
  grid-row: 1;

  background-color: rgba(184, 184, 184, 0.25);
  box-shadow: 0 0 0.5rem 0.01rem #b8b8b8;
}

.market-info-top-section {
  display: grid;
  grid-template-columns: repeat(2, min-content) auto;
  grid-template-rows: repeat(2, min-content);

  margin-bottom: 3.2rem;
  column-gap: 0.8rem;
  row-gap: 0.8rem;
  align-items: center;
}

.market-info-logo {
  grid-column: 1;
  grid-row: 1 / 3;
}

.market-info-rank-container {
  grid-column: 2;
  grid-row: 2;
  /*display: flex;*/
  /*align-items: center;*/
  /*gap: 1.2rem;*/
}

.market-info-rank {
  background: #6d7e90;
  font-size: 1.4rem;
  color: rgba(255, 255, 255);
  width: fit-content;
}

/*.market-info-type {*/
/*  background: #495e74;*/
/*  font-size: 1.4rem;*/
/*  color: rgba(255, 255, 255, 0.8);*/
/*}*/

.small-box {
  font-weight: 400;
  padding: 0.8rem;
  border-radius: 6px;
}

.market-info-name-container {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.market-info-name {
  font-size: 3rem;
  font-weight: 500;

  white-space: nowrap;
  overflow: hidden;
  /*text-overflow: ellipsis;*/
}

.market-info-symbol {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

.market-info-price-container {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.2rem;
  font-weight: 500;
  /*padding-top: 0.8rem;*/
}

.market-info-price-value {
  font-size: 3.4rem;
}

.market-info-price-change {
  font-size: 2rem;
}

/*############################################################################*/
/*############################################################################*/

.market-info-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  column-gap: 1.6rem;
  row-gap: 0.8rem;
  font-size: 1.4rem;
}

.market-info-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding: 1.2rem 0;
}

.market-info-label {
  color: #c5cbd3;
}

.market-info-value-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.green-box,
.red-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0.6rem;
  font-weight: 500;
}

.green-box {
  background-color: darkgreen;
  color: #cce0cc;
}

.red-box {
  background-color: darkred;
  color: #e8cccc;
}

.market-info-value {
  font-weight: 500;
}
