.coin-page-content-wrap {
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 4.8rem;

  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: repeat(3, auto); /* min-content */
  /*grid-template-columns: repeat(2, min-content);*/
  /*grid-auto-flow: column;*/
  column-gap: 3.2rem;
  row-gap: 3.2rem;
  /*height: fit-content;*/
}
