.footer-outer-container {
  height: fit-content;
  padding: 2.4rem 10rem;
}

.footer-inner-container {
  padding-top: 2.4rem;
  border-top: 1px solid #8f8f8f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: #fc9bd3;
  transition: all 0.3s;
}

a:hover,
a:active {
  color: #fa58b6;
}
