/*.coin-page-container {*/
/*  max-width: 130rem;*/
/*}*/

.coin-page-content-wrap {
  padding: 0 4.8rem;
  display: grid;
  /*grid-template-columns: 2fr 1fr;*/
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(3, min-content);
  column-gap: 3.2rem;
  row-gap: 3.2rem;
  /*height: fit-content;*/
}
