.converter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 11px;
  padding: 1.8rem 1.4rem;
  background-color: rgba(35, 37, 56, 0.1);
}

.converter-input-labels {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}

.converter-balance {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
