.table-header-start,
.table-header-end {
  /*display: inline-block;*/
  display: flex;
  align-items: center;
}

.table-header-start {
  justify-content: flex-start;
}

.table-header-end {
  justify-content: flex-end;
}

/*.table-header:nth-child(2),*/
/*.table-header:nth-child(3) {*/
/*  justify-content: flex-start;*/
/*}*/

.table-header-start:hover,
.table-header-end:hover {
  cursor: pointer;
}
