.table-header-start,
.table-header-end {
  display: flex;
  align-items: center;
}

.table-header-start {
  justify-content: flex-start;
}

.table-header-end {
  justify-content: flex-end;
}

.table-header-start:hover,
.table-header-end:hover {
  cursor: pointer;
}
