.coin-charts-outer-container {
  grid-column: 1;
  grid-row: 2;
  height: auto;
  border-radius: 11px;
  padding: 2.4rem;
  background-color: rgba(184, 184, 184, 0.25);
  box-shadow: 0 0 0.5rem 0.01rem #b8b8b8;
}

.coin-charts-inner-container {
  background: #394968;
  border-radius: 11px;
  padding: 3.2rem 1.6rem 1.6rem 1.6rem;
  margin-bottom: 1.6rem;
}

.coin-charts-price-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
}

.coin-charts-heading {
  font-size: 2rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}
