.header-nav {
  height: 9.6rem;
  padding: 0 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo {
  font-size: 2.4rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.header-nav-list {
  font-size: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.header-nav-link {
  font-weight: 400;
  text-decoration: none;
  padding: 0rem;
}

.brand-logo:link,
.brand-logo:visited,
.header-nav-link:link,
.header-nav-link:visited {
  color: inherit;
  transition: all 0.3s;
}

.header-nav-link:hover,
.header-nav-link:active {
  color: rgba(255, 255, 255, 0.7);
}

.header-btn-group {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.login-btn,
.SignUp-btn {
  font-size: inherit;
  color: inherit;
  width: 10rem;
  border-radius: 11px;
  padding: 1.2rem;
  border: 2px solid #fa58b6;
  transition: all 0.3s;
}

.login-btn {
  margin-left: 2.4rem;
  background-color: inherit;
}

.SignUp-btn {
  background-color: #fa58b6;
}

.login-btn:hover {
  color: #fb79c5;
  border: 2px solid #fb79c5;
  cursor: pointer;
}

.SignUp-btn:hover {
  background-color: #fb79c5;
  border: 2px solid #fb79c5;
  cursor: pointer;
}
