/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",*/
/*    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",*/
/*    monospace;*/
/*}*/

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #fff; /* replace with #ded6d6 and remove all duplicates of that style elsewhere */
  font-family: Rubik, sans-serif;
  font-weight: 400;
  line-height: 1;
  background: #112149;
  position: relative;
}

body::before {
  content: "";
  background-image: url(../public/images/acrylic-paint-g0aeaea865_1920.jpg);
  /*background-size: cover;*/
  background-size: 500%; /* or 500% */
  background-position: center;
  z-index: -1;
  border-radius: 11px;
  filter: blur(50px) brightness(50%); /* from 30 to 50 also good*/
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
