.hero-stat-container {
  display: flex;
  flex-basis: 25rem;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;
  /*border: 1px solid rgba(250, 88, 182, 0.3);*/
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 1rem rgba(122, 11, 192);*/
  border-radius: 11px;
  padding: 1.6rem;
  position: relative;
}

/* (was tricky) Necessary in order to have the image inserted before */
.hero-stat-container::before {
  content: "";
  background-image: url(../../../../public/images/acrylic-paint-g0aeaea865_1920.jpg);
  background-size: 100%;
  background-position: center;
  z-index: -1;
  border-radius: 11px;
  filter: blur(30px);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-stat-label {
  color: rgba(255, 255, 255, 0.65);
  font-size: 1.4rem;
}

.hero-stat-data {
  display: flex;
  gap: 1.6rem;
  font-size: 2.2rem;
  font-weight: 500;
}
